@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

body {
  margin: 0;
  /* font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-right: 1px solid brown;
  border-left: 1px solid brown;
}

.main {

  background-color: burlywood;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}